bin
.cache
include/Alloy.def
include/Alloy-parenthesize.str
include/Alloy-Permissive.def
include/Alloy.generated.pp.af
include/Alloy.packed.esv
include/Alloy.pp.af
include/Alloy.rtg
include/Alloy.str
include/Alloy.tbl
include/Alloy.rtree
include/Alloy.ctree
include/Alloy.ctree.dep
include/Alloy.jar
include/Alloy-java.jar
**/*generated.pp
lib/**
editor/java/trans
editor/Alloy-*.generated.esv
syntax/Alloy*.generated.esv
.settings/org.eclipse.jdt.core.prefs
utils
./lib/*.generated.str
/include
src-gen
lib
target
trans/names.str
trans/types.generated.str
.settings
editor/java